!.gitignore
.idea/
nbproject/

*.log
node_modules

tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Local configuration file (sdk path, etc)
local.properties

# IOS / Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# OSX
.DS_Store

bower_components